<% @posts.each do |post| %>
	<div class = "post">
		<p />
		<p><a href = "/<%= post.board%>/thread/<%= post.thread%>"><%= post.id%></a> posted in <a href = "/<%= post.board%>/page/0">#<%= post.board %></a> on <%= post.created_on %></p>
		<p><%= post.body %></p>
	</div>
<% end %>
