<div class = "board_name">
	<a href = "/<%= @board_name %>">#<%= @board_name %></a>
</div>

<div class = "form">
	<form action = "/<%= @board_name %>/reply/<%= @dat_id %>"method = "post">
		<textarea name="body"></textarea>
	 	<input type = "submit" value = "reply" class = "thread_button"/>
	</form>
</div>

<% @dem_posts.each do |post| %>
	<div class = "post">
		<p />
		<p><b><a href = "/<%= post.board%>/thread/<%= post.thread%>"><%= post.id%></a></b> posted on <%= post.birth %></p>
		<p><%= post.body %></p>
	</div>
<% end %>
